#car {
    font-family: Arial;
}

#body {
    position: absolute;
    top: 50px;
    width: 80%;
    height: 100px;
    background-color: #891c4f;
    border: 3px solid rgb(35, 2, 21);
    text-align: center;
}

#backwheel {
    position: absolute;
    left: 10%;
    top: 130px;
    background-color: #891c4f;
    border: 3px solid rgb(35, 2, 21);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#frontwheel {
    position: absolute;
    left: 55%;
    top: 130px;
    background-color: #891c4f;
    border: 3px solid rgb(35, 2, 21);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}